---
layout: base
title: All Posts
---

<h2>Articles <small>(sourced from {{ devto.url }})</small></h2>
<ul class="listing">
{% for item in devto.posts %}
  <li>
    <p class="meta">Published on {{ item.pubDate }} by {{ item.author }}</p>
    <h3><a href="/posts/{{ item.path }}">{{ item.title }}</a></h3>
  </li>
 {% endfor %}
</ul>